.googlefont-selectors {
}
.googlefont-selectors #DUMMY {
	display:none;
}
.googlefont-dummy-container {
	display:none;
}
	.googlefont-selector-item.postbox {
		margin:0;
	}
	.googlefont-selector-item.closed {
		
	}
	.googlefont-selector-item span.selector-label {
		display:none;
	}
	.googlefont-selector-item.closed span.selector-label {
		display:inline;
	}
		.googlefont-selector-options {
		}
			.googlefont-filter-variants {
			}


#googlefont-refresh-now {
}
#googlefont-refresh-now.working {
	padding-right:24px;
	background:url('../images/spinner.gif') no-repeat right center !important;
}