.googlefont-control {
	border-bottom:1px solid #eeeeee;
}

.googlefont-picker {
	display:none;
	position:relative;
}
.googlefont-item .googlefont-item-styles {
	display:none;
}
.googlefont-item.selected .googlefont-item-styles {
	display:block;
}
.googlefont-stylepicker-content {
	padding:3%;
	position:absolute;
	right:0px;
	top:30px;
	bottom:0px;
	left:60%;
	width:40%;
	background:#ffeeaa;
	transform:width;
	overflow:auto;
}

.googlefont-fontpicker {
	height:250px;
	overflow:auto;
	clear:both;
}

.googlefont-picker .googlefont-item {
	display:none;
}
.googlefont-picker .googlefont-item.fav {
	display:block;
}
.googlefont-picker.nofavs .googlefont-item {
	display:block;
}
.googlefont-filters {
	height:30px;
}

.googlefont-item .favorite {
	float:left;
}
.filter.favorite {
	float:right;
	background-position:3px -61px;
	cursor:pointer;
}
.nofavs .filter.favorite {
	background-position:3px 3px;
}
.favorite {
	display:block;
	width:32px;
	height:32px;
	background:url('../images/favorite.png') no-repeat 3px 3px;
}
.fav .favorite {
	background:url('../images/favorite.png') no-repeat 3px -61px;
}


.googlefont-item,
.googlefont-item-head {
	display:block;
	padding-left:3em;
}
.googlefont-item-head .sample {
	font-size:0.8em;
	float:right;
}
.googlefont-item-head .info {
	font-size:0.8em;
	color:#666666;
}
.googlefont-item-head {
	font-size:1.2em;
}
.googlefont-item {
	padding:2%;
}
.googlefont-item.fav:nth-child(odd),
.nofavs .googlefont-item:nth-child(odd) {
	background-color:#eeeeff;	
}
.googlefont-item.selected.fav,
.googlefont-item.selected {
	background-color:#ffeeaa !important;
}
.googlefont-style-select {
	display:block;
	padding:2%;
}
.googlefont-fontpicker .googlefont-item-styles {
	display:none;
}
input.googlefont-pick-family {
	display:none;
}
.customize-control input[type="search"].googlefont-filter {
	width:59%;
}